/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    chosen { zmk,matrix_transform = &five_column_transform; };
};

/ {
    combos {
        compatible = "zmk,combos";

        lang-switch {
            bindings = <&kp LG(SPACE)>;
            key-positions = <36 38 32 30>;
            layers = <0>;
        };

        config-layer {
            bindings = <&mo 4>;
            key-positions = <31 30 34 35>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
  &mt ESCAPE Q  &kp W  &kp E         &kp R  &kp T        &kp Y    &kp U  &kp I      &kp O    &kp P
  &mt LSHIFT A  &kp S  &kp D         &kp F  &kp G        &kp H    &kp J  &kp K      &kp L    &mt LEFT_SHIFT SLASH
  &mt LCTRL Z   &kp X  &kp C         &kp V  &kp B        &kp N    &kp M  &kp COMMA  &kp DOT  &mt LCTRL SEMI
                       &kp LEFT_ALT  &mo 1  &kp SPACE    &kp RET  &mo 2  &mo 3
            >;
        };

        control_layer {
            bindings = <
  &kp TAB         &none  &none         &none  &none        &none     &kp DELETE      &kp UP_ARROW  &kp BACKSPACE  &none
  &kp LEFT_SHIFT  &none  &none         &none  &none        &kp HOME  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT      &kp END
  &kp LCTRL       &none  &none         &none  &none        &none     &kp PAGE_UP     &none         &kp PAGE_DOWN  &none
                         &kp LEFT_GUI  &none  &kp SPACE    &kp RET   &none           &none
            >;
        };

        symbol_layer {
            bindings = <
  &kp EXCL        &kp AT    &kp HASH         &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PIPE
  &kp LEFT_SHIFT  &kp STAR  &kp NON_US_HASH  &none     &none        &kp MINUS  &kp EQUAL  &kp LBKT              &kp RBKT               &kp SINGLE_QUOTE
  &kp LCTRL       &none     &none            &none     &none        &kp UNDER  &kp PLUS   &kp LBRC              &kp RBRC               &kp SLASH
                            &kp LGUI         &none     &kp SPACE    &kp RET    &none      &kp RALT
            >;
        };

        num_layer {
            bindings = <
  &kp ESCAPE    &kp F1  &kp F2    &kp F3   &kp F4       &kp C_VOLUME_UP    &kp N7  &kp N8  &kp N9  &kp C_BRI_UP
  &kp TAB       &kp F5  &kp F6    &kp F7   &kp F8       &kp C_VOLUME_DOWN  &kp N4  &kp N5  &kp N6  &kp C_BRIGHTNESS_DEC
  &kp CAPSLOCK  &kp F9  &kp F10   &kp F11  &kp F12      &kp N0             &kp N1  &kp N2  &kp N3  &none
                        &kp LGUI  &none    &kp SPACE    &kp ENTER          &none   &none
            >;
        };

        config_layer {
            bindings = <
  &none       &none         &none         &none         &out OUT_BLE    &none  &none  &none  &none  &none
  &none       &bt BT_SEL 3  &bt BT_SEL 4  &none         &out OUT_USB    &none  &none  &none  &none  &none
  &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &out OUT_TOG    &none  &none  &none  &none  &none
                            &none         &none         &none           &none  &none  &none
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
